<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Account registration" />
  <meta name="author" content="Cameron Hubbard" />
  <link rel="icon" href="favicon.ico" />

  <title>Registration Page</title>

  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- <link th:href="@{css/style.css}" rel="stylesheet" /> -->
</head>

<body class="gray-bg">

  <div class="container">
    <div>

      <h2>New User Registration</H2>

      <form autocomplete="off" th:action="@{/register}" method="post" class="m-t" role="form" data-toggle="validator">

        <div th:if="${alreadyRegisteredMessage}" class="alert alert-danger" role="alert"
          th:text=${alreadyRegisteredMessage}></div>

        <div th:if="${alreadyRegisteredEmail}" class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredEmail}"></div>

        <!--
        <div th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>
-->
        <!--username-->
        <div class="form-group input-group has-feedback">
          <!--
            <label th:if="${#fields.hasErrors('username')}"
              th:errors="*{firstName}" class="validation-message"></label> -->
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="${user.Username}" placeholder="Username" class="form-control" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--password-->
        <div class="form-group input-group has-feedback">
          <!-- <label th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}" class="validation-message"></label> -->
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>

          <input type="password" th:field="${user.Password}" placeholder="Password" class="form-control" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--firstname-->
        <div class="form-group input-group has-feedback">
          <!--<label th:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}" class="validation-message"></label> -->
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="${user.Firstname}" placeholder="First Name" class="form-control" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--lastname-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="${user.Lastname}" placeholder="Last Name" class="form-control" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--email-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" th:field="${user.Email}" placeholder="Email Address" class="form-control"
            data-error="This email address is invalid" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

        </div>

        <!--phone-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-earphone"></span>
          </span>
          <input type="text" th:field="${user.Phone_number}" placeholder="Phone number" class="form-control" required />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>


        <!-- promotions subscription -->


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="subpromos" th:field="${user.Promostatus}">
          <label class="form-check-label" for="subpromos">Subscribe to promotional offers?</label>
        </div>





        <h3>
          Address Information (optional)
        </h2>
        <!--country-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </span>
          <input type="text" th:field="${address.Country}" placeholder="Country" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--street-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </span>
          <input type="text" th:field="${address.Street}" placeholder="Street" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
        
        <!--city-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </span>
          <input type="text" th:field="${address.City}" placeholder="City" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--Zipcode-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </span>
          <input type="number" th:field="${address.Zipcode}" placeholder="Zipcode" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--state-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </span>
          <input type="text" th:field="${address.State}" placeholder="State" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

      


        <h3>Payment Information (optional)
        </h2>
        <!--cardnumber-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-credit-card"></span>
          </span>
          <input type="number" th:field="${paymentcard.CardNum}" placeholder="Card number" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>


        <!--CVV-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="number" maxlength="4" th:field="${paymentcard.CVV}" placeholder="CVV" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <!--exp_date-->
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="text" th:field="${paymentcard.Exp_date}" placeholder="Expiration date" class="form-control" />
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>



        <button type="submit" class="btn btn-success">Submit</button>
        <!-- <button type="submit" class="btn btn-primary block full-width m-b">Register</button> -->

      </form>

    </div>
  </div>

  <!-- jQuery-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>